<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <% if @user.posts.count == 0 && @user.comments.count == 0 %>
          <h2 class="media-heading"><%= @user.name %></h2>
          <%= "#{@user.name} has not submitted any posts or comments yet." %>
        <% elsif @user.posts.count == 0 && @user.comments.count > 0 %>
            <h2 class="media-heading"><%= @user.name %></h2>
            <%= "#{@user.name} has not submitted any posts yet." %><br>
            <%= pluralize(@user.comments.count, 'comment') %>
        <% elsif @user.comments.count == 0 && @user.posts.count > 0 %>
            <h2 class="media-heading"><%= @user.name %></h2>
            <%= pluralize(@user.posts.count, 'post') %><br>
            <%= "#{@user.name} has not submitted any comments yet." %>
        <% else %>
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<%= render @user.posts %>

<h2>Comments</h2>
<%= render @user.comments %>

<h2>Favorited Posts</h2>
<%= @user.favorites.map do |favorite| %>
  <% post = favorite.post %>
  <% author = post.user %>
  <div class="pull-left user-info">
    <%= image_tag author.avatar_url(48), class: 'media-object' %>
    <div class="pull-left">
      <%= link_to post.title %>
      <%= post.votes.count %> votes, <%= post.comments.count %> comments
      <br>
      <br>
    </div>
  </div>
<% end %>
